module {{.ProjectName}}

go {{.Version}}

require (
	github.com/Blocktunium/gonyx v0.3.0
	github.com/gin-gonic/gin v1.10.0
	github.com/spf13/cobra v1.9.1
	google.golang.org/grpc v1.70.0
	google.golang.org/protobuf v1.36.5
)

require (
    google.golang.org/genproto/googleapis/rpc v0.0.0-20250227231956-55c901821b1e // indirect
)